<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948843167659-tkcu8rfe22hst8ot9e1b09pnu0quv8oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948843167659-tkcu8rfe22hst8ot9e1b09pnu0quv8oc</string>
	<key>API_KEY</key>
	<string>AIzaSyDIwSelf3JNR3vb2Boq1oWbliWTLAtTZ68</string>
	<key>GCM_SENDER_ID</key>
	<string>948843167659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FlowasteLLC.platemate</string>
	<key>PROJECT_ID</key>
	<string>flowaste-595b7</string>
	<key>STORAGE_BUCKET</key>
	<string>flowaste-595b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948843167659:ios:c07f0cafad67e0548b1cee</string>
	<key>DATABASE_URL</key>
	<string>https://flowaste-595b7.firebaseio.com</string>
</dict>
</plist>